html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    text-align: center;
}

h1, h2, h3{
    font-family: "Montserrat";
    font-weight: bold;
}

/* Headings */

.big-heading {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* Title section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.title-image {
    transform: rotate(25deg);
    width: 60%;
    position: absolute;
    right: 30%;
}

/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Features section */

#features {
    /* margin: 10%; */
    position: relative;
}

.feature-box {
    padding: 5%;
}

.feature-image {
    color: #ef8172;
    margin-bottom: 1rem;

    /* padding: 0 0 4% 0; */
    /* 
    font-size: 64px;
    Mudar o font-size também altera o tamanho do icone, pórem o site do icone também tem a classe .fa-4x
    */
}

.feature-image:hover {
    color: #ff4c68;
}

.h3-feature {
    font-size: 1.5rem;
}

.p-feature {
    color: #8f8f8f;
}

/* Testimonial section */

#testimonials {
    background-color: #EF8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonials-images {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #EF8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

/* Call to action */

/* Footer section*/

#footer {
    background-color: #fff;
    font-weight: bold;
    color: grey;
}

.icons-footer {
    font-size: 28px;
    color: black;
    margin: 20px 10px;
}

.icons-footer:hover {
    color: blue;
}
